h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.wrapper-images {
  flex: 1 0 100%;
  .photo {
    max-width: 100%;
  }
}

.wrapper-list-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > ul {
    flex: 1 0 100%;
  }
}